<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template Site</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
</head>
<body ng-app="">
    <div ng-include="modules/partials/client/view/header.html"></div>
    <h1>{{test}}</h1>
    <input type="text" ng-model="test">
    <div ng-include="modules/partials/client/view/footer.html"></div>
</body>
</html>